# Dependencies
node_modules/
package-lock.json

# Build and archive artifacts
*.zip
*.tar.gz
*.log

# System files
.DS_Store
Thumbs.db
desktop.ini

# Environment variables
.env
.env.local

# IDE and Editor
.vscode/
.idea/
